@model Post
@inject IAppIdentityUser appIdentityUser
<div>

    <h2>@Html.DisplayFor(model => model.Title)</h2>
    <p>Por <a asp-controller="Posts" asp-action="Authors" asp-route-id="@Model.Author.Id">@Html.DisplayFor(model => model.Author.User.FullName)</a>, <time class="timeago" datetime="@Model.PublishDate.ToString("s")">@Model.PublishDate</time>
        (@Html.DisplayFor(model => model.ViewCount) views)</p>

    <p>@Html.DisplayFor(model => model.Content)</p>

    @if (Model.AllowEditOrDelete(appIdentityUser))
    {
        <div class="text-md-end">
            <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>
            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model?.Id">Remover</a>
        </div>
    }

    <hr />
    @await Html.PartialAsync("_Comments")

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
